# Utilities for Creating Constellations

In [21]:
%config Completer.use_jedi = False
import pandas as pd
import numpy as np
import time
import os
cwdFiles = os.curdir+'\\'+'Files'
import urllib
from DeckAccessReader import *
from comtypes.gen import STKObjects
from comtypes.gen import STKUtil

### Pull Constellations from Celestrak

In [22]:
# https://celestrak.com/NORAD/elements/master.php
nameList = ['100OrSoBrightest','ActiveGEO','Active','AmateurRadio','Analyst','ARGOS','Beidou','BREEZE-MRBBreakUp','COSMOS2251Debris',
            'CubeSats','DisasterMonitoring','EarthResources','Education','Engineering','Experimental','FENGYUN1CDebris','Galileo','Geodetic',
            'GlobalStar','GLONASSOperational','GOES','Gorizont','GPSOperational','IndianASATTestDebris','Intelsat','Iridium','Iridium33Debris',
            'IridiumNEXT','Last30DaysLaunches','MiscMilitary','Molniya','NNSS','NOAA','Orbcomm','Other','OtherComm','Planet',
            'RadarCalibration','Raduga','RusssianLEONavigation','SBAS','SatNOGs','Search&Rescue','SES','Space&EarthScience','SpaceStations','Spire','Starlink','TDRSS','Weather']

tceList = ['visual','geo','active','amateur','analyst','argos','beidou','2012-044','cosmos-2251-debris',
         'cubesat','dmc','resource','education','engineering','x-comm','1999-025','galileo','geodetic',
         'globalstar','glo-ops','goes','gorizont','gps-ops','2019-006','intelsat','iridium','iridium-33-debris',
         'iridium-NEXT','tle-new','military','molniya','nnss','noaa','orbcomm','other','other-comm','planet',
         'radar','raduga','musson','sbas','satnogs','sarsat','ses','science','stations','spire','starlink','tdrss','weather']

constellations = zip(nameList,tceList)

for name,tce in constellations:
    link = 'https://celestrak.com/NORAD/elements/'+tce+'.txt'
    try:
        f = urllib.request.urlopen(link)
        data = f.read()
        data = data.decode('utf-8').replace('\r','\n')
        data = data.split('\n')
        data = data[0::2]
        file = open(cwdFiles+'\\Constellations\\Celestrak'+name+'.tce','w')
        k = 0
        for line in data:
            if k % 3 != 0:
                file.write(line.replace('\r','')+'\n')
            k += 1
        # file.writelines(data)
        file.close()
        
    except:
        print('Failed To Retrieve: '+tce)
        pass

### Create Walker Constellations from Excel File and Save As TCEs

In [23]:
xlsxFileName = os.curdir+'\\'+'ConstellationsParameters.xlsx'
df = pd.read_excel(xlsxFileName)
df

,Operator,name,#sats,inc (deg),anode (deg),argp (deg),period (secs),apogee (km),perigee (km),Avg Alt (km),HBR,mass,estimated year of completion,Unnamed: 13,inc (deg).1,total,planes,f
0,OneWeb,OnewebPlane1,40,87.9,0.0,0,6566.0,1200,1200,1200,1.427299,148,2026,NaN,87.9,720.0,18.0,17.0
1,OneWeb,OnewebPlane2,40,87.9,10.2,0,6566.0,1200,1200,1200,1.427299,148,2026,NaN,NaN,NaN,NaN,NaN
2,OneWeb,OnewebPlane3,40,87.9,20.4,0,6566.0,1200,1200,1200,1.427299,148,2026,NaN,NaN,NaN,NaN,NaN
3,OneWeb,OnewebPlane4,40,87.9,30.6,0,6566.0,1200,1200,1200,1.427299,148,2026,NaN,NaN,NaN,NaN,NaN
4,OneWeb,OnewebPlane5,40,87.9,40.8,0,6566.0,1200,1200,1200,1.427299,148,2026,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,Telesat,TelesatPlane7,9,37.4,36.0,0,6627.6,1248,1248,1248,0.548455,100,2026,NaN,NaN,NaN,NaN,NaN
108,Telesat,TelesatPlane8,9,37.4,72.0,0,6627.6,1248,1248,1248,0.548455,100,2026,NaN,NaN,NaN,NaN,NaN
109,Telesat,TelesatPlane9,9,37.4,108.0,0,6627.6,1248,1248,1248,0.548455,100,2026,NaN,NaN,NaN,NaN,NaN
110,Telesat,TelesatPlane10,9,37.4,144.0,0,6627.6,1248,1248,1248,0.548455,100,2026,NaN,NaN,NaN,NaN,NaN
111,Telesat,TelesatPlane11,12,99.5,31.6,0,6306.9,1000,1000,1000,0.548455,100,2026,NaN,NaN,NaN,NaN,NaN

In [24]:


# def createConFromWalker(root,row):
#     name = row['name'].replace(' ','')
#     sat = root.CurrentScenario.Children.New(STKObjects.eSatellite,name)
#     sat2 = sat.QueryInterface(STKObjects.IAgSatellite)
#     sat2.SetPropagatorType(STKObjects.ePropagatorJ4Perturbation)
#     prop2 = sat2.Propagator.QueryInterface(STKObjects.IAgVePropagatorJ4Perturbation)
    
#     TLEFileName = cwdFiles+'\\ConstellationPlanes\\'+name+'.tce'
#     Re = 6378.137
#     Ra = row['apogee (km)']+Re
#     Rp = row['apogee (km)']+Re
#     a = (Ra+Rp)/2
#     e = (Ra-Rp)/(2*a)
#     i = row['inc (deg)']
#     raan = row['anode (deg)']
#     aop = row['argp (deg)']
#     mass = row['mass']
#     ma = 0
#     # Can add a column for mean anomaly of the first satellite to handle interplane phasing, otherwise the seed satellite will use a mean anomaly of 0
#     try: 
#         ma = row['ma (deg)']
#     except:
#         ma = 0
#     numSats = row['#sats']

#     # initial epoch
#     prop2.InitialState.Representation.AssignClassical(STKUtil.eCoordinateSystemICRF,a,e,i,aop,raan,ma)
#     sat2.MassProperties.Mass = mass
#     prop2.Propagate()
#     cmd = 'Walker */Satellite/'+name+' Type Delta NumPlanes 1 NumSatsPerPlane '+str(numSats)+' InterPlanePhaseIncrement 0'
#     root.ExecuteCommand(cmd)
#     root.GetObjectFromPath('Satellite/'+name).Unload()
#     CreateConstellation(root,TLEFileName)
#     UnloadObjs(root,'Satellite','*')
#     print('Created: '+name+' at '+time.ctime())

# root = ConnectToSTK(version=11)
# UnloadObjs(root,'Satellite','*')
# planesPerOperator = df.groupby('Operator').describe()['#sats']['count']
# print('Starting to create constellations')
# t1 = time.time()
# root.ExecuteCommand("BatchGraphics * On")
# root.BeginUpdate()
# kk = 0
# for ii in range(len(planesPerOperator)):
#     for jj in range(int(planesPerOperator[ii])):
#         row = df.iloc[kk,:]
#         createConFromWalker(root,row)
#         kk +=1
# root.ExecuteCommand("BatchGraphics * Off")
# root.EndUpdate()
# t2 = time.time()
# (t2-t1)/60

### Merge Multiple TCEs

In [25]:
mergeTLEFiles(range(1,18+1),'OnewebPlane','Oneweb',sscStart=0)
mergeTLEFiles(range(1,83+1),'SpaceXPlane','SpaceX',sscStart=0)
mergeTLEFiles(range(1,11+1),'TelesatPlane','Telesat',sscStart=0)

,Line1,Ssc,Launch,Epoch,Mean motion 1st,Mean motion 2nd,Drag,Eph Type,Elem Set,Line2,Ssc2,i,RAAN,e,AoP,MA,Mean motion,a
0,1,00000,,19337.16666667,-.00000191,00000-0,-22059-3,0,00003,2,00000,99.3862,083.4356,0010035,271.3501,252.8983,13.691196,7380.870206
1,1,00001,,19337.16666667,-.00000258,00000-0,-29819-3,0,00009,2,00001,99.3862,083.4356,0010028,271.4478,282.8005,13.691197,7380.870016
2,1,00002,,19337.16666667,.00000109,00000-0,12567-3,0,00005,2,00002,99.3861,083.4356,0010009,271.5185,312.7301,13.691193,7380.871324
3,1,00003,,19337.16666667,.00000601,00000-0,69575-3,0,00004,2,00003,99.3861,083.4355,0009986,271.5127,342.7362,13.691188,7380.872941
4,1,00004,,19337.16666667,.00000722,00000-0,83559-3,0,00007,2,00004,99.3862,083.4355,0009969,271.4346,012.8143,13.691188,7380.873125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,1,00112,,19337.16666667,-.00000750,00000-0,-86756-3,0,00005,2,00112,99.3963,115.0253,0009971,271.1401,103.0484,13.691201,7380.868377
113,1,00113,,19337.16666667,-.00000546,00000-0,-63159-3,0,00001,2,00113,99.3963,115.0253,0009989,271.0702,133.1186,13.691198,7380.869358
114,1,00114,,19337.16666667,-.00000039,00000-0,-45042-4,0,00001,2,00114,99.3963,115.0253,0010013,271.0774,163.1117,13.691193,7380.871321
115,1,00115,,19337.16666667,.00000269,00000-0,31116-3,0,00002,2,00115,99.3963,115.0253,0010029,271.1557,193.0336,13.691190,7380.872424
116,1,00116,,19337.16666667,.00000138,00000-0,15987-3,0,00006,2,00116,99.3964,115.0253,0010036,271.2539,222.9353,13.691191,7380.871903

### Change the TLE Epochs

In [26]:
# Create or Load a constellation saved as TLEs
constellationName = 'Oneweb' 
TLEFileName = cwdFiles+'\\Constellations\\'+constellationName+'.tce'
epoch = 27000 # yyddd.dddddddd last two digits of the year and day of year

# # Example of how to merge multiple TLE files
df = updateTLEEpoch(TLEFileName,epoch,createNewFile=True)
df

,Line1,Ssc,Launch,Epoch,Mean motion 1st,Mean motion 2nd,Drag,Eph Type,Elem Set,Line2,Ssc2,i,RAAN,e,AoP,MA,Mean motion,a
0,1,00000,,27000.00000000,.00000053,00000-0,14137-3,0,00006,2,00000,87.9321,343.4344,0009837,271.3469,155.1485,13.152567,7581.028896
1,1,00001,,27000.00000000,.00000254,00000-0,67841-3,0,00000,2,00001,87.9321,343.4344,0009836,271.3335,164.1621,13.152565,7581.029664
2,1,00002,,27000.00000000,.00000420,00000-0,11209-2,0,00002,2,00002,87.9321,343.4344,0009835,271.3166,173.1790,13.152563,7581.030256
3,1,00003,,27000.00000000,.00000567,00000-0,15134-2,0,00006,2,00003,87.9321,343.4344,0009835,271.2944,182.2013,13.152562,7581.030775
4,1,00004,,27000.00000000,.00000686,00000-0,18318-2,0,00006,2,00004,87.9321,343.4344,0009834,271.2665,191.2293,13.152561,7581.031193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,1,00715,,27000.00000000,-.00000714,00000-0,-19054-2,0,00002,2,00715,87.8585,156.8454,0009834,271.4473,109.8425,13.152573,7581.026590
716,1,00716,,27000.00000000,-.00000639,00000-0,-17062-2,0,00006,2,00716,87.8585,156.8454,0009834,271.4175,118.8724,13.152572,7581.026940
717,1,00717,,27000.00000000,-.00000515,00000-0,-13753-2,0,00003,2,00717,87.8585,156.8454,0009835,271.3928,127.8972,13.152570,7581.027474
718,1,00718,,27000.00000000,-.00000350,00000-0,-93445-3,0,00008,2,00718,87.8585,156.8454,0009835,271.3737,136.9164,13.152569,7581.028150
719,1,00719,,27000.00000000,-.00000157,00000-0,-41795-3,0,00005,2,00719,87.8585,156.8454,0009836,271.3591,145.9312,13.152567,7581.028919