# Constellation Wizard

The Notebook format allows for more control over various analyses and automation.

In [1]:
# Import libraries
from DeckAccessReader import *
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
import os
cwd = os.getcwd()
cwdFiles = cwd+'\\Files'
from comtypes.client import CreateObject
from comtypes.client import GetActiveObject
from comtypes.gen import STKObjects

# Define the constellation and Inputs

In [2]:
# Create or Load a constellation saved as TLEs
constellationName = 'Oneweb' # Either Created or loaded
create = False # 'Create' or 'Load'
accessObjPath = '*/Facility/AGI/Sensor/FOV' # Used for deck access
satTemplateName = 'OneWeb' # Used for deck access constraints and child ojects when loading satellites. This can be an empty string '' 
startTimeDA = 0 # Deck Access start time. Relative to the scenario start time [EpSec]
stopTimeDA = 3600 # Deck Access stop time. Relative to the scenario start time [EpSec]

## Connect To STK

In [3]:
scenarioPath = cwd+'\\ConstellationWizardExampleScenario'
scenarioName = 'ConstellationWizardExample'
root = ConnectToSTK(scenarioPath = scenarioPath,scenarioName=scenarioName) # Tries to connect to open scenario,then Load scenario,then create new scenario
sc = root.CurrentScenario
sc2 = root.CurrentScenario.QueryInterface(STKObjects.IAgScenario)

# Turn on Antialiasing for better visualization. Options are: Off,FXAA,2,3,4
cmd = 'SoftVtr3d * AntiAlias FXAA'
root.ExecuteCommand(cmd);

## Create the constellation if needed

In [4]:
TLEFileName = cwdFiles+'\\Constellations\\'+constellationName+'.tce'
if create == True:
    CreateConstellation(root,TLEFileName,ssc=00000)
    print(TLEFileName+' Created\n')

## Look at TLEs

In [5]:
tleList = getTLEs(TLEFileName)
dfTLE = tleListToDF(tleList)
dfTLE

,Line1,Ssc,Launch,Epoch,Mean motion 1st,Mean motion 2nd,Drag,Eph Type,Elem Set,Line2,Ssc2,i,RAAN,e,AoP,MA,Mean motion,a
0,1,00000,,19337.16666667,.00000053,00000-0,14137-3,0,00006,2,00000,87.9321,343.4344,0009837,271.3469,155.1485,13.152567,7581.028896
1,1,00001,,19337.16666667,.00000254,00000-0,67841-3,0,00000,2,00001,87.9321,343.4344,0009836,271.3335,164.1621,13.152565,7581.029664
2,1,00002,,19337.16666667,.00000420,00000-0,11209-2,0,00002,2,00002,87.9321,343.4344,0009835,271.3166,173.1790,13.152563,7581.030256
3,1,00003,,19337.16666667,.00000567,00000-0,15134-2,0,00006,2,00003,87.9321,343.4344,0009835,271.2944,182.2013,13.152562,7581.030775
4,1,00004,,19337.16666667,.00000686,00000-0,18318-2,0,00006,2,00004,87.9321,343.4344,0009834,271.2665,191.2293,13.152561,7581.031193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,1,00715,,19337.16666667,-.00000714,00000-0,-19054-2,0,00002,2,00715,87.8585,156.8454,0009834,271.4473,109.8425,13.152573,7581.026590
716,1,00716,,19337.16666667,-.00000639,00000-0,-17062-2,0,00006,2,00716,87.8585,156.8454,0009834,271.4175,118.8724,13.152572,7581.026940
717,1,00717,,19337.16666667,-.00000515,00000-0,-13753-2,0,00003,2,00717,87.8585,156.8454,0009835,271.3928,127.8972,13.152570,7581.027474
718,1,00718,,19337.16666667,-.00000350,00000-0,-93445-3,0,00008,2,00718,87.8585,156.8454,0009835,271.3737,136.9164,13.152569,7581.028150
719,1,00719,,19337.16666667,-.00000157,00000-0,-41795-3,0,00005,2,00719,87.8585,156.8454,0009836,271.3591,145.9312,13.152567,7581.028919

## Load TLE file as a MTO

In [6]:
LoadMTO(root,TLEFileName,timestep=60,color='green',orbitsOnOrOff='off',orbitFrame='Inertial')

## Run Deck Access

In [7]:
# Run deck Access, using a constraint object if it exists
startTime = sc2.StartTime+startTimeDA
stopTime = sc2.StartTime+stopTimeDA
NumOfSC,deckAccessFileName,deckAccessTLEFileName = runDeckAccess(root,startTime,stopTime,TLEFileName,accessObjPath,constraintSatName=satTemplateName)
NumOfSC

83

In [8]:
# Read deck access report file
dfAccess = deckAccessReportToDF(deckAccessFileName)
dfAccess

     Name Start Time (EpYr) Stop Time (EpYr) Duration (sec)
0   00266     0.00005695471    0.00005955085         81.928
1   00267     0.00005047059    0.00005550484        158.869
2   00268     0.00004444106    0.00005100952        207.285
3   00269     0.00003858823    0.00004634295        244.720
4   00270     0.00003283999    0.00004157703        275.720
..    ...               ...              ...            ...
78  00390     0.00003449377    0.00004042258        187.099
79  00391     0.00003019881    0.00003442228        133.283
80  00415     0.00011249598    0.00011407712         49.897
81  00416     0.00010815502    0.00011267846        142.749
82  00417     0.00010447178    0.00010607040         50.449

[83 rows x 4 columns]

In [9]:
LoadMTO(root,deckAccessTLEFileName,timestep=60,color='cyan',orbitsOnOrOff='off',orbitFrame='Inertial')

## Look at TLEs with access

In [10]:
# Look at the TLEs with Access 
tleList = getTLEs(deckAccessTLEFileName)
dfTLEwAccess = tleListToDF(tleList)
# NewTLEFileName = TLEFileName + 'DeckAccess'
# dfToTLE(dfTLEwAccess,NewTLEFileName) # Example of how to save DeckAccess satellites to a TCE file
dfTLEwAccess

,Line1,Ssc,Launch,Epoch,Mean motion 1st,Mean motion 2nd,Drag,Eph Type,Elem Set,Line2,Ssc2,i,RAAN,e,AoP,MA,Mean motion,a
0,1,00266,,19337.16666667,.00000020,00000-0,54117-4,0,00001,2,00266,87.8247,044.6403,0009884,271.5023,028.9658,13.152564,7581.029945
1,1,00267,,19337.16666667,-.00000087,00000-0,-23365-3,0,00007,2,00267,87.8247,044.6403,0009879,271.5324,037.9355,13.152565,7581.029430
2,1,00268,,19337.16666667,-.00000213,00000-0,-56977-3,0,00004,2,00268,87.8247,044.6403,0009873,271.5560,046.9118,13.152567,7581.028861
3,1,00269,,19337.16666667,-.00000345,00000-0,-92189-3,0,00006,2,00269,87.8247,044.6403,0009866,271.5699,055.8977,13.152568,7581.028285
4,1,00270,,19337.16666667,-.00000470,00000-0,-12560-2,0,00001,2,00270,87.8247,044.6404,0009858,271.5720,064.8956,13.152570,7581.027758
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,1,00390,,19337.16666667,-.00000469,00000-0,-12534-2,0,00000,2,00390,87.7960,075.2436,0009858,271.5717,064.8459,13.152569,7581.028100
79,1,00391,,19337.16666667,-.00000605,00000-0,-16168-2,0,00000,2,00391,87.7960,075.2436,0009851,271.5615,073.8560,13.152570,7581.027570
80,1,00415,,19337.16666667,-.00000128,00000-0,-34065-3,0,00009,2,00415,87.7927,085.4445,0009887,271.2477,290.1513,13.152564,7581.029906
81,1,00416,,19337.16666667,-.00000160,00000-0,-42650-3,0,00005,2,00416,87.7927,085.4445,0009888,271.2777,299.1213,13.152564,7581.029883
82,1,00417,,19337.16666667,-.00000154,00000-0,-41207-3,0,00006,2,00417,87.7927,085.4445,0009888,271.3030,308.0960,13.152564,7581.029995

## Load subset of Satellites

In [11]:
# dfLoad = dfTLE # Load all satellites in TLE files
# dfLoad = dfTLE[dfTLE['i']>45] # Use subset based on filtering
# dfLoad = dfTLEwAccess[(dfTLEwAccess['i']>45) & (dfTLEwAccess['RAAN'].astype(float)>180)] # Use subset based on deck access and filtering
dfLoad = dfTLEwAccess # Use subset based on deck access
# dfLoad = dfLoad.head()
dfLoad

,Line1,Ssc,Launch,Epoch,Mean motion 1st,Mean motion 2nd,Drag,Eph Type,Elem Set,Line2,Ssc2,i,RAAN,e,AoP,MA,Mean motion,a
0,1,00266,,19337.16666667,.00000020,00000-0,54117-4,0,00001,2,00266,87.8247,044.6403,0009884,271.5023,028.9658,13.152564,7581.029945
1,1,00267,,19337.16666667,-.00000087,00000-0,-23365-3,0,00007,2,00267,87.8247,044.6403,0009879,271.5324,037.9355,13.152565,7581.029430
2,1,00268,,19337.16666667,-.00000213,00000-0,-56977-3,0,00004,2,00268,87.8247,044.6403,0009873,271.5560,046.9118,13.152567,7581.028861
3,1,00269,,19337.16666667,-.00000345,00000-0,-92189-3,0,00006,2,00269,87.8247,044.6403,0009866,271.5699,055.8977,13.152568,7581.028285
4,1,00270,,19337.16666667,-.00000470,00000-0,-12560-2,0,00001,2,00270,87.8247,044.6404,0009858,271.5720,064.8956,13.152570,7581.027758
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,1,00390,,19337.16666667,-.00000469,00000-0,-12534-2,0,00000,2,00390,87.7960,075.2436,0009858,271.5717,064.8459,13.152569,7581.028100
79,1,00391,,19337.16666667,-.00000605,00000-0,-16168-2,0,00000,2,00391,87.7960,075.2436,0009851,271.5615,073.8560,13.152570,7581.027570
80,1,00415,,19337.16666667,-.00000128,00000-0,-34065-3,0,00009,2,00415,87.7927,085.4445,0009887,271.2477,290.1513,13.152564,7581.029906
81,1,00416,,19337.16666667,-.00000160,00000-0,-42650-3,0,00005,2,00416,87.7927,085.4445,0009888,271.2777,299.1213,13.152564,7581.029883
82,1,00417,,19337.16666667,-.00000154,00000-0,-41207-3,0,00006,2,00417,87.7927,085.4445,0009888,271.3030,308.0960,13.152564,7581.029995

In [12]:
# Load satellites using a satellite template
LoadSatsUsingTemplate(root,dfLoad,startTime,stopTime,TLEFileName,satTemplateName,color='green')

## Perform Analysis

In [13]:
def chainAnalysis(root,chainPath,objsToAdd,startTime,stopTime,exportFileName):
    chain = root.GetObjectFromPath(chainPath)
    chain2 = chain.QueryInterface(STKObjects.IAgChain)
    chain2.Objects.RemoveAll()
    for obj in objsToAdd:
        chain2.Objects.Add(obj)
    chain2.ClearAccess()
    chain2.ComputeAccess()
    cmd = 'ReportCreate '+chainPath+' Type Export Style "Bent Pipe Comm Link" File "'+exportFileName+'" TimePeriod "'+str(startTime)+'" "'+str(stopTime)+'" TimeStep 60'
    root.ExecuteCommand(cmd)
    df = pd.read_csv(exportFileName)
    df = df[df.columns[:-1]]
    return df
    
def covAnalysis(root,covDefPath,objsToAdd,exportFileName):
    cov= root.GetObjectFromPath(covDefPath)
    cov2 = cov.QueryInterface(STKObjects.IAgCoverageDefinition)
    cov2.AssetList.RemoveAll()
    for obj in objsToAdd:
        cov2.AssetList.Add(obj)
    cov2.ClearAccesses()
    cov2.ComputeAccesses()
    cmd = 'ReportCreate '+covDefPath+'/FigureOfMerit/NAsset Type Export Style "Value By Grid Point" File "'+exportFileName+'"'
    root.ExecuteCommand(cmd)
    f = open(exportFileName,'r')
    txt = f.readlines()
    f.close()
    k = 0
    for line in txt:
        if 'Latitude' in line:
            start = k
            break
        k += 1
    f = open(exportFileName+'Temp','w')
    for line in txt[start:-1]:
        f.write(line) 
    f.close()
    df = pd.read_csv(exportFileName+'Temp')
    os.remove(exportFileName+'Temp')
    return df

In [14]:
chainPath = '*/Chain/AGIToConstellation'
accessReceiver = '*/Facility/AGI/Sensor/FOV/Receiver/GroundReceiver'
objsToAdd = ['*/Constellation/OneWebTransmitters',accessReceiver]
exportFileName = cwdFiles+'\\AnalysisResults\\'+constellationName+'ChainComm.csv'
dfChainData = chainAnalysis(root,chainPath,objsToAdd,startTime,stopTime,exportFileName)

dfChainData

,Time (EpYr),Xmtr Power1 (dBW),Xmtr Gain1 (dB),EIRP1 (dBW),Prop Loss1 (dB),Rcvd. Frequency1 (GHz),Rcvd. Iso. Power1 (dBW),Flux Density1 (dBW/m^2),g/T1 (dB/K),C/No1 (dB*Hz),Bandwidth1 (kHz),C/N1 (dB),Eb/No1 (dB),BER1
0,0.000041,34.6,0.0,34.6,187.3063,13.500247,-152.706,-108.643973,20.0,95.892806,199800.0,12.8869,9.8766,0.021344
1,0.000042,34.6,0.0,34.6,186.5968,13.500242,-151.997,-107.934450,20.0,96.602329,199800.0,13.5964,10.5861,0.015484
2,0.000044,34.6,0.0,34.6,185.8353,13.500234,-151.235,-107.172987,20.0,97.363792,199800.0,14.3578,11.3475,0.010393
3,0.000046,34.6,0.0,34.6,185.0353,13.500223,-150.435,-106.372946,20.0,98.163833,199800.0,15.1579,12.1476,0.006364
4,0.000048,34.6,0.0,34.6,184.2075,13.500207,-149.608,-105.545143,20.0,98.991636,199800.0,15.9857,12.9754,0.003495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1514,0.000107,34.6,0.0,34.6,181.2601,13.499949,-146.660,-102.597771,20.0,101.939007,199800.0,18.9331,15.9228,0.000140
1515,0.000109,34.6,0.0,34.6,181.6924,13.499896,-147.092,-103.030087,20.0,101.506692,199800.0,18.5007,15.4904,0.000257
1516,0.000111,34.6,0.0,34.6,182.3480,13.499853,-147.748,-103.685620,20.0,100.851158,199800.0,17.8452,14.8349,0.000583
1517,0.000113,34.6,0.0,34.6,183.1337,13.499820,-148.534,-104.471301,20.0,100.065478,199800.0,17.0595,14.0492,0.001354
1518,0.000114,34.6,0.0,34.6,183.7762,13.499800,-149.176,-105.113828,20.0,99.422951,199800.0,16.4170,13.4067,0.002449

In [15]:
covDefPath = '*/CoverageDefinition/CovUS'
objsToAdd = ['Constellation/'+constellationName]
exportFileName = cwdFiles+'\\AnalysisResults\\'+constellationName+'NAsset.csv'
dfCovAnalysis = covAnalysis(root,covDefPath,objsToAdd,exportFileName)
dfCovAnalysis

    Latitude (deg)  Longitude (deg)  FOM Value
0           26.463          262.286         29
1           26.463          279.429         29
2           29.159          262.286         29
3           29.159          269.143         28
4           31.855          248.571         28
..             ...              ...        ...
77          48.029          255.000         30
78          48.029          259.286         30
79          48.029          263.571         30
80          48.029          267.857         29
81          48.029          272.143         29

[82 rows x 3 columns]

This is the section where you will need to modify the code to perform the type of analysis you need, it could involve sensors, chains, coverage etc. As well as save results.

A perfectly reasonable alternative to writing the code to do this is to just do all of the analysis manually inside STK's GUI and use the rest of the script to set up your scenario. If that is the case use, the ConstellationWizardUI may be easier to use.

## Unload Satellites, Constellations, and MTOs

In [16]:
UnloadObjs(root,'Satellite',pattern='tle-*')
UnloadObjs(root,'Constellation',pattern='*')
UnloadObjs(root,'MTO',pattern='*')

Rinse and Repeat!

Rerunning the notebook with different parameters gives the ability to quickly run analysis and trade studies on subsets of large constellations over different time periods, facility locations, constellation patterns, etc. 

Converting this notebook to a .py file and putting the contents into a for loop would be recommended for large analyses.